<header>
  <a href="#"><img src="img/blog_logo.png" class="logo" alt="logo"></a>
  <nav>
    <ul class="navbar">
      <li><a href="#">Writing</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Categories</a></li>
    </ul>
  </nav>
  <div class="click">
    <a href="#"><button>SignIn</button></a>
    <a href="#"><button>SignUp</button></a>
  </div>
</header>
